@font-face {
    font-family: 'Raleway-Regular';
    src: url('police/static/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('police/static/Raleway-Bold.ttf');
}

*{
    text-decoration: none;
    font-family: 'Raleway-Regular', sans-serif;
}
header{
    position: fixed;
    background-color: white;
    top: 0;
    padding-top: 30px;
}

#corps{
    padding-top: 130px;   /*probleme avec les ancres*/
}
#header img{
    position: absolute;
    top: 30px;
    left: 60px;
}
#inscription{
    position: absolute;
    top: 30px;
    right: 60px;
}

#menu{
    display: flex;
    justify-content: space-evenly;
}

strong,h4{
    font-family: 'Raleway-Bold';
}

#recherche {
    border-color: #f2f2f2;
    border-radius : 20px ;
    display: flex;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    height: 3em;
    width: 20em;
    background-color: #f2f2f2;
    margin-bottom: 1.3em;
    margin-top: 1.5em;
}
#recherche .fas{
    align-self: center;
    text-align: center;
    background-color: #f2f2f2;
    width: 10em;
}
#champ-de-recherche{
    width: 50em;
    border-color: #f2f2f2;
    border: 1px 1px 1px 1px; /*marche pas probleme ombre*/
    box-shadow: none; /*marche pas probleme ombre*/
    font-family: 'Raleway-Bold';
}
#recherche-lieu{
    border-color: #f2f2f2;
    color: white;
    background-color: blue;
    border: 1px 1px 1px 1px; /*marche pas probleme ombre*/
    box-shadow: none; /*marche pas probleme ombre*/
    font-family: 'Raleway-Bold';
}


#filtres {
    display: block;
    border: solid #f2f2f2 2px;
    border-radius : 20px;
    margin: 3px;
    padding: 0px;
    margin-bottom: 1.3em;
}

#filtres .fas{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 15px;
}

#filtres:hover {

    background-color: #DEEBFF;
}

#info{
    color: white;
    background-color:#0065FC;
    border-radius: 50%;     
    border-color: #F2F2F2;  
    border-width: 1px;      
    border-style: solid;    
    margin-bottom: 1.3em;
}

/*______________________________________*/

#groscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    line-height: 0.2em;
}
 
/* #populaires = .container:nth-child(1)
#hebergements= .container:nth-child(2)
#activites=.container:nth-child(3) */

.container {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: 40em;
    justify-content: space-around;
    width: 90%;
}

.aside {
    background-color: white;
    border-radius: 20px;
    border: white 5px solid;
}

.container:nth-child(1) .aside{
    height: 25%;
    width:100%;
    overflow: hidden;
    display: flex;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gauche{
    height: 100%;
    width: 25%;
    float: left;
    overflow: hidden;
    /* text-align: center; marche pas*/
    /* margin: auto; marche pas*/
}
.droite{
    background-color: white;
}
.container:nth-child(1){
    order: 2;
}
.container:nth-child(2){
    order: 1;
}
.container:nth-child(3){
    order: 3;
}

.container:nth-child(1) img{
    height: 100%;
    float: left;
}
.container:nth-child(1) .fas{
    float: right;
    margin-right: 2em;
}



.container:nth-child(2) .aside{
    width: 28%;
    height: 35%;
    display: flex;
    overflow: hidden;
}
.haut{
    width: 100%;
    height: 50%;
    overflow: hidden;
    text-align: center; /*marche pas*/
    margin: auto; /*marche pas*/
}
.bas{
    background-color: white;
}

.container:nth-child(2) img{
    width: 100%;
}



.container:nth-child(3){
    margin-top: 50px;
    background-color: white;
}

.container:nth-child(3) .aside{
    padding: 0px;
    border: #F2F2F2 solid 1px;
}
.container:nth-child(3) img{
    height: 10em;
}

.ligne{
    width: 100%;
}
