@font-face {
    font-family: 'Raleway-Regular';
    src: url('police/static/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('police/static/Raleway-Bold.ttf');
}

*{
    text-decoration: none;
    font-family: 'Raleway-Regular', sans-serif;
}

.ligne{
    width: 100%;
}

header{
    margin:2em;
    background-color: white;
    display: flex;
    flex-direction: column;   
    line-height: 3em;
    justify-content: space-between;
}

.logo{
    width: 100%;
}
#inscription{
    width: 85%;
    font-size: 1em;
    position: absolute;
    top:2em;
    text-align: right;
    color:#0065FC;
    text-decoration: none;
}
.menu{
    color: black;
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    height: 3.5em;
}
#menu_heb{
    width: 50%;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: grey solid 3px;
    text-align: center;
}
#menu_act{
    width: 50%;
    color:black;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: grey solid 3px;
    text-align: center;
}
#menu_heb:hover{
    color: #0065FC;
    border-bottom:  #0065FC solid 3px;
}
#menu_act:hover{
    color: #0065FC;
    border-bottom:  #0065FC solid 3px;
}

strong,h1, h2, h3, h4{
    font-family: 'Raleway-Bold';
}
strong{
    font-size: 1.2em;
}
h1{
    font-size: 1.7em;
}
h3{
    margin-left: 1em;
    font-size: 1.6em ;
}
h4{
    font-size: 0.95em;
}
#section1{
    padding:1em;
}
#titre{
    margin-top: 4em;
    font-size: 1.8em;
    line-height: 1.3em;
}
#section1>p{
    font-size: 1.3em;
}

#recherche {
    border-color: #f2f2f2;
    border-radius : 15px ;
    display: flex;
    height: fit-content;
    overflow: hidden;
    height: 3em;
    width: 28em;
    background-color: #f2f2f2;
    margin-bottom: 1.3em;
    margin-top: 1.5em;
}
#icone-position{
    align-self: center;
    text-align: center;
    background-color: #f2f2f2;
    width: 13%;
}
#champ-de-recherche{
    font-family: 'Raleway-Bold';
    font-size: 1.1em;
    padding-left: 1em;
    color: black;
    width: 90%;
    border: #f2f2f2 solid 1px;
}
::placeholder{
    color: black;
}
#recherche-lieu{
    display: none;
}
#icone-search{
    width: 3em;
    font-size: 1.5em;
    text-align: center;
    padding-top: 0.5em;
    background-color: #0065FC;
    color: white;
    border-radius: 30%;
}

/*___________filtres______________*/

#mes_filtres{
    margin-left: 1em;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filtres {
    display:flex;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-right: 1em;
    border: rgb(226, 225, 225) solid  2px;
    border-radius: 50px;
    max-height: 2.7em;
    width: fit-content;
    
}
.mot{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}
.filtres>.fas{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 1em;
    height: 1em;
    width: 1em;
    position: relative;
    bottom: 0.15em;
    right: 0.1em;
}

.filtres:hover {
    background-color: #DEEBFF;
}

#info{
    color: white;
    background-color:#0065FC;
    border-radius: 50%;     
    border-color: #F2F2F2;  
    border-width: 1px;      
    border-style: solid;    
    margin-bottom: 1.3em;
}

/*______________________________________*/

#container_hebergements_et_populaires{
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
}
 
.hebergements_mrs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.les_plus_populaires{
    display: flex;
    flex-wrap: wrap;
    background-color:#f2f2f2;
    justify-content: space-around;
    padding-bottom: 2em;
}
/*________hebergements à Marseille____________*/
#titre_heb{
    padding: 1em;
    padding-bottom: 0;
    width: 100%;
}
.hotel_heb{
    margin-left: 1em;
    margin-right: 1em;
    height: 16em;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #f2f2f2;
    overflow: hidden;  
    margin-bottom: 1em;
}
.photo_heb{
    height: 60%;
    width: 100%;
}
.photo_heb>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description_heb{
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 40%;
    color: black;
    text-decoration: none;
    background-color: white;
    border: #f2f2f2 solid 3px; 
}
.description_heb>h4{
    font-size: 1.4em;
    line-height: 0em;
}
.description_heb>p{
    font-size: 1.2em;
    line-height: 0em;
}

.description_heb>.stars{
    line-height: 0.1em;
    margin-bottom: 2em;
}
.alive_stars{
    color: #0065FC;
    align-self: flex-end;
    font-size: 0.9em;
}
.dead_stars{
    color: #F2F2F2;
    align-self: flex-end;
    font-size: 0.7em;
}
/*________populaires____________*/

#titre_pop{
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#titre_pop>.fas{
    font-size: 2em;
    padding-top: 0.8em;
}

.hotel_pop{
    margin-left:1em;
    margin-right:1em;
    margin-bottom: 0.8em;
    height: 11.3em;
    border-radius: 20px;
    border:white 5px solid;
    justify-content: space-around;
    display: flex;  
    overflow: hidden;
}

.photo_pop{
    width: 40%;
    height: 100%;
}
.photo_pop>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description_pop{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    width: 60%;
    height: 100%;
    line-height: 1.3em;
    color: black;
    text-decoration: none;  
    padding-top: 0;
    margin-top: 0;
    background-color: white;
}
.description_pop_txt{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
.description_pop_txt>h4{
    font-size: 1.4em;
    margin-left : 0.5em;
    margin-bottom: 0;
}  
.description_pop_txt>p{
    margin-left : 0.5em;
    margin-btop: 0;
}    

.description_pop>.stars{
    margin-left : 0.5em;
    align-self: flex-start; 
    font-size: 0.95em;
}



/*____Activités__________*/

#activites{
    order: 3;
    margin-top: 1em;
    height: fit-content;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    color: black ;
    text-decoration: none;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
}
#titre_activites{
    padding-left: 1em;
    width: 100%;
    margin-bottom: 1em;
}
.a_voir_100,.a_voir_66,.a_voir_33,.a_voir_50{
    width: 100%;
    height: 16em;
    border: #F2F2F2 solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 1.5em;
}


.photo_activite{
    width: 100%;
    height: 70%;
}
.photo_activite>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description_activite{
    margin-left: 1em;
    height: 3.5em;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}
/*_________Footer__________*/
footer{
    margin-top: 2.5em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    flex-wrap: wrap;
}
footer h3{
    font-size: 1.25em;
    margin-bottom: 0.2em;
    margin-left: 0;
}
footer ul {
    margin-bottom: 1em;
}
footer li{
    list-style: none;
    line-height: 2em;
    font-size: 1.3em;
}