@font-face {
    font-family: 'Raleway-Regular';
    src: url('police/static/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('police/static/Raleway-Bold.ttf');
}
header, main, footer{
    width: 100%;
}
*{
    text-decoration: none;
    font-family: 'Raleway-Regular', sans-serif;
}
.ligne{
    width: 100%;
}

header{
    background-color: white;
    padding-top: 30px;
}

#header img{
    position: absolute;
    top: 30px;
    left: 60px;
}
#inscription{
    position: absolute;
    top: 30px;
    right: 60px;
}

#menu{
    float: right;
    margin-right: 10em;
}

strong,h1, h2, h3, h4{
    font-family: 'Raleway-Bold';
}
h1{
    font-size: 1.3em;
}
h3{
    font-size: 1.1em ;
}
h4{
    font-size: 0.95em;
}

#titre{
    line-height: 0.3em;
}

#recherche {
    border-color: #f2f2f2;
    border-radius : 20px ;
    display: flex;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    height: 3em;
    width: 20em;
    background-color: #f2f2f2;
    margin-bottom: 1.3em;
    margin-top: 1.5em;
}
#recherche .fas{
    align-self: center;
    text-align: center;
    background-color: #f2f2f2;
    width: 10em;
}
#champ-de-recherche{
    width: 50em;
    border-color: #f2f2f2;
    border: 1px 1px 1px 1px; /*marche pas probleme ombre*/
    box-shadow: none; /*marche pas probleme ombre*/
    font-family: 'Raleway-Bold';
}
#recherche-lieu{
    border-color: #f2f2f2;
    color: white;
    background-color: blue;
    border: 1px 1px 1px 1px; /*marche pas probleme ombre*/
    box-shadow: none; /*marche pas probleme ombre*/
    font-family: 'Raleway-Bold';
}


#filtres {
    display: inline-block;
    border: solid #f2f2f2 2px;
    border-radius : 20px;
    margin: 5px;
    padding: 0px;
    margin-bottom: 1.3em;
}

#filtres .fas{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 15px;
}

#filtres:hover {

    background-color: #DEEBFF;
}

#info{
    color: white;
    background-color:#0065FC;
    border-radius: 50%;     
    border-color: #F2F2F2;  
    border-width: 1px;      
    border-style: solid;    
    margin-bottom: 1.3em;
}

/*______________________________________*/

#container_hebergements_et_populaires{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-between;
    align-content: space-between;
    line-height: 0.2em;
}
 
.hebergements_mrs, .les_plus_populaires{
    background-color:#f2f2f2;
    border-radius: 20px;
    max-height: 38em;
    justify-content: space-around;
}

.hebergements_mrs{  
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2em;
    padding-right: 2em;
}
.les_plus_populaires{
    width: 32%;
    display: flex;
    flex-wrap: wrap;
}
/*________hebergements à Marseille____________*/
#titre_heb{
    padding-top: 1em;
    width: 100%;
}
.hotel_heb{
    width:29%;
    height: 31%;
    border-radius: 20px;
    border: white 5px solid;
    overflow: hidden;   
}
.photo_heb{
    height: 60%;
    width: 100%;
}
.photo_heb>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description_heb{
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 40%;
    color: black;
    text-decoration: none;
    background-color: white;
    border:white solid 3px; /*POURQUOI SANS CA MARCHE PAS?*/
}
.description_heb>p{
    font-size: 0.9em;
    line-height: 0.1em;
}
.alive_stars{
    color: #0065FC;
    align-self: flex-end;
    font-size: 0.7em;
}
.dead_stars{
    color: #F2F2F2;
    align-self: flex-end;
    font-size: 0.7em;
}
/*________populaires____________*/

#titre_pop{
    padding-top: 1em;
    display: flex;
    width: 20em;
    justify-content: space-between;
}

#titre_pop>.fas{
    font-size: 1.3em;
    padding-top: 0.4em;
}

.hotel_pop{
    width:20em;
    height: 21%;
    border-radius: 20px;
    border:white 5px solid;
    justify-content: space-around;
    display: flex;  
    overflow: hidden;
}

.photo_pop{
    width: 40%;
    height: 100%;
}
.photo_pop>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description_pop{
    padding-left: 1em;
    padding-right: 1em;
    width: 60%;
    height: 100%;
    line-height: 1.3em;
    color: black;
    text-decoration: none;
    background-color: white;
}
.description_pop>p{
    font-size: 0.9em;
    line-height: 0.1em;
}



/*____Activités__________*/

.activites{
    margin-top: 5em;
    height: 33em;
    border-radius: 20px;
    justify-content: space-around;
    display: flex;
    color: black ;
    text-decoration: none;
    flex-wrap: wrap;
}
#titre_activites{
    padding-left: 1em;
    width: 100%;
}
.a_voir_100{
    height: 85%;
    width: 22%;
    border: #F2F2F2 solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vertical{
    width: 22%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.vertical>.a_voir_66{
    height: 60%;
    width: 100%;
    border: #F2F2F2 solid 2px;
    border-radius: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.vertical>.a_voir_33{
    height: 30%;
    width: 100%;
    border: #F2F2F2 solid 2px;
    border-radius: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.vertical>.a_voir_50{
    height: 47%;
    width: 100%;
    border: #F2F2F2 solid 2px;
    border-radius: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.photo_activite{
    width: 100%;
    height: 100%;
}
.photo_activite>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description_activite{
    padding-top: 0.8em;
    margin-left: 1em;
    height: 3.5em;
    background-color: white;
    color: black;
    text-decoration: none;
}
/*_________Footer__________*/
footer{
    margin-top: 5em;
    display: flex;
    background-color: green;
}

footer li{
    list-style: none;
    line-height: 2em;
}